<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lvfq.rabbit"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- uses-permission android:name="android.permission.CAMERA" /-->

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" /-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application android:name=".Appcontext.MainApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.StartupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.ImageActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.PlayerActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:exported="true">
        </activity>
        <service
            android:name="com.youku.service.download.DownloadService"
            android:label="Youku Download Service"
            android:process=":download" >
        </service>

        <!-- client_id及client_secret配置 -->
        <meta-data android:name="client_id" android:value="85umcobwswozr4r6"/>
        <meta-data android:name="client_secret" android:value="794849f847e468dd503f8f3f7d84c01d"/>
    </application>

</manifest>
